div{
  /* border: 1px solid gray; */
}
* {
min-height: 0;
min-width: 0;
  }
html{
  font-family: PT Root UI;
  font-size: 1vw;
  background: black;
  color: white;
}
footer, .menu-l{
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}
.footer-txt p:first-of-type{
  margin-bottom: 4px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}
.h-wrap{
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
}
.h-wrap div:nth-of-type(2){
  flex-direction: row;
  display: flex;
}
header div h2{
  margin-left: 70px;
}
@media all and (max-width: 600px){
  .h-wrap div:nth-of-type(2){
    flex-direction: column;
  }
  .h-wrap div:nth-of-type(2) h2:first-of-type{
    margin-bottom: 10px;
  }
}
.logo{
  width: 24px;
  height: 24px;
  background-image: url('../images/logo.svg');
  background-size: contain;
}
a{
  text-decoration: none;
  color: #fff;
}
h1{
  font-size: 40px;
}
.h1-m{
  font-size: 36px;
}
h2{
  font-size: 24px;
}
.h2-m{
  font-size: 18px;
}
h3{
  font-size: 18px;
}
.text{
  font-size: 18px;
}
.text-ac{
  font-size: 18px;
  font-weight: bold;
}
.stat-ac{
  font-size: 36px;
  font-weight: bold;
}
.news{
  height: 90vh;
  width: 100%;
}
.slide-b{
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}
.zusam{
  background-image: url('../images/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.lynx{
  background-image: url('../images/lyn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.g21{
  background-image: url('../images/g211.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-b img{
  height: 100%;
  width: 100%;
  text-align: center;
}
.slide-t{
  position: absolute;
  left: 46px;
  bottom: 10%;
}
.slick-list, .slick-track {
  height: 100%;
}
.slick-dots {
  bottom: 2%;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slide-t h2{
  margin-top: 2%;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.missions{
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 450px;
}
.shop{
  height: 620px;
  width: 100%;
}
.mslide{
  height: 100%;
  width: 25%;
  transform: skew(-45deg, 0deg);
  overflow: hidden;
}
.mslide:hover{
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: skew(0deg, 0deg)
}
.mslide:hover {
  left: -100px;
  width: 115%;
}
.mslide-image:hover{
  transform: skew(0deg, 0deg);
  width: 100%;
}
.mslide-t{
  pointer-events: none;
  z-index: 10;
  bottom: 10%;
  left: 146px;
  position: absolute;
  transform: skew(45deg, 0deg);
  display: none;
}
.mslide:hover .mslide-t{
  display: block;
  transform: skew(0deg, 0deg);
}
.mslide-image{
  transform: skew(45deg, 0deg);
  background-image: url('../images/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150%;
  width: 230%;
  margin-left: -110px;
}
.base{
  background-image: url('../images/base.png');
}
.ship{
  background-image: url('../images/plane.png');
}
.dash{
  background-image: url('../images/pcs.png');
}
.dash:hover{
  background-position: top;
}
.red{
  background-image: url('../images/glitch.png');
}
