@font-face {
	font-family: 'PTRootUIWebRegular';
	src:
		url('../fonts/PT-Root-UI_Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebBold';
	src:
		url('../fonts/PT-Root-UI_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

* {
  min-height: 0;
  min-width: 0;
}
body{
  overflow-x: hidden;
}
html{
  font-family: PTRootUIWebRegular;
  font-size: 1vw;
  background: black;
  color: white;
}
footer{
  background: black;
  color: white;
}
footer, .menu-l{
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
}
.menu-l{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.menu-l h2{
  text-align: right;
}
.footer-txt p:first-of-type{
  margin-bottom: 4px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}
.h-wrap{
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
}
.options{
  flex-direction: row;
  display: flex;
}
header div h2{
  margin-left: 70px;
}
.logo{
  width: 24px;
  height: 24px;
  background-size: contain;
}
.logo-w{
  background-image: url('../images/logo.svg');
}
.logo-b{
  background-image: url('../images/logo-b.svg');
}
a{
  text-decoration: none;
  color: #fff;
	transition: .5s;
}
a:hover{
  text-decoration: none;
  color: blue;
}
.logo:hover{
  background-color: blue;
}
h1{
  font-size: 40px;
  line-height: 50px;
}
.h1-m{
  font-size: 36px;
}
h2{
  font-size: 24px;
  line-height: 23px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 18px;
  line-height: 23px;
}
.text-ac{
  font-size: 18px;
  font-family: PTRootUIWebBold;
}
.stat-ac{
  font-size: 36px;
  font-family: PTRootUIWebBold;
}

/*slick*/
.image-f{
  height: 90vh;
  width: 100%;
}
.slide-b{
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}
.zusam{
  background-image: url('../images/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.lynx{
  background-image: url('../images/lyn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.g21{
  background-image: url('../images/g211.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-b img{
  height: 100%;
  width: 100%;
  text-align: center;
}
.slide-t{
  position: absolute;
  left: 46px;
  bottom: 10%;
}
.slick-list, .slick-track {
  height: 100%;
}
.slick-dots {
  bottom: 2%;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slide-t h2{
  margin-top: 2%;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}

/*shop*/
.shop{
  position: relative;
  margin: 0 auto;
  height: 620px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-item{
  overflow: hidden;
  position: relative;
  height: 70%;
  width: 23%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s;
}
.shop-item:hover{
  width: 1200px;
}
.shop-item:hover .shop-item p{
  opacity: 0;
}
.shop-item p{
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 24px;
}
.shop-item:last-of-type{
  background-color: #303030;
}

/*imgs*/
.cap{
  background-image: url('../images/cap.png');
}
.pins{
  background-image: url('../images/pin.png');
}
.books{
  background-image: url('../images/book.png');
}
.hood{
  background-image: url('../images/hood.png');
}
.arrow{
  background-image: url('../images/arrows.png');
}
.plata{
  background-image: url('../images/plat.jpeg');
}
.making{
  background-image: url('../images/making.jpeg');
}
.base{
  background-image: url('../images/base.png');
}
.ship{
  background-image: url('../images/plane.png');
}
.dash{
  background-image: url('../images/pcs.png');
}
.red{
  background-image: url('../images/glitch.png');
}

/*missions slider*/
.missions {
  height: 650px;
  overflow: hidden;
}
.slider-content {
  height: 650px;
  width: 10000px;
}
.slider-item {
  height: 650px;
  overflow: hidden;
  transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  transition: all 0.5s;
}
.slider-item:first-child {
  margin-left: -123px;
}
.image {
  float: left;
  position: relative;
  transition: all .5s;
  cursor: pointer;
}
.slid-img {
  height: 650px;
  width: 200%;
  top: 0px;
  position: absolute;
  left: -115px;
  background-size: 1200px 650px;
  transform: translate3d(0, 0, 0) skew(20deg, 0deg);
  transition: all 0.5s;
}
.image-text {
  pointer-events: none;
  width: 500%;
  opacity: 0;
  bottom: 10%;
  left: -15%;
  position: absolute;
  color: white;
  transition: all 0.3s;
}
.image-text-f{
  bottom: 10%;
  left: 6%;
}
.image:hover .image-text {
  opacity: 1;
}

/* missions mobile */
.missions-m{
  width: 100%;
  display: none;
}
.mm-sl{
  height: 100px;
  background-position: center;
  padding-left: 46px;
  padding-top: 20px;
}

/* redacted */
.redacted {
  overflow: hidden;
}
.redacted img{
    width: 70%;
    min-width: 450px;
    position: absolute;
    top: 50%;
    right: 0;
  }
.redacted  .image-f{
    position: relative;
    height: 86vh !important;
  }
.redacted .slide-t p{
  margin-top: 1em;
}
.redacted .slide-t{
  max-width: 620px;
}

/* news */
.nw-b a{
  color: black;
}
.no-fix{
  position: relative;
}
.nw-b{
  background-color: white;
  color: black;
}
.nw-i{
  background-position: center;
}
.nw-i, .nw-text{
  margin: 0 46px;
}
.nw-text p{
  margin-top: 6px;
}
.nw-i{
  height: 450px;
  margin-top: 50px;
}
.nw-text{
  margin-top: 5%;
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
}
.nwt-l{
  width: 50%;
}
.nwt-r{
  margin-right: 10%;
}

/* shop */
.sh-b{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 550px 550px 550px;
  column-gap: 15px;
  row-gap: 45px;
  padding: 46px;
  color: black;
}
.sh-g{
  height: 100%;
  width: 100%;
}
.sh-t{
  margin-top: 20px;
}
.cell-l{
  grid-column: span 2;
}
.sh-i{
	background-color: #222;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90%;
	transition: ease-in .5s;
}
.si-post{
  background-size: auto 100%;
	background-repeat: no-repeat;
  background-position: top;
}
.sh-i:hover{
  background-size: +110%;
	transition: .5s;
}
