@font-face {
	font-family: 'PTRootUIWebRegular';
	src:
		url('../fonts/PT-Root-UI_Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebBold';
	src:
		url('../fonts/PT-Root-UI_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

* {
  min-height: 0;
  min-width: 0;
}
body{
  overflow-x: hidden;
}
html{
  font-family: PTRootUIWebRegular;
  font-size: 1vw;
  background: black;
  color: white;
}
footer, .menu-l{
  display: flex;
  justify-content: space-between;
}
.footer-txt{
	margin: 36px 46px;
}
.menu-l{
	padding: 36px 46px;
}
footer{
	width: 100%;
	height: 122px;
	position: absolute;
  background: black;
  color: white;
}
.menu-l{
	align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.menu-l h2{
  text-align: right;
}
.footer-txt p:first-of-type{
  margin-bottom: 4px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
}
.h-sh{
	position: relative;
}
.no-fix{
  position: relative;
}
.h-wrap{
  padding: 36px 46px;
  display: flex;
  justify-content: space-between;
}
.options{
  flex-direction: row;
  display: flex;
}
header div h2{
  margin-left: 70px;
}
.logo{
  width: 24px;
  height: 24px;
  background-size: contain;
}
.logo-w{
  background-image: url('../images/logo.svg');
}
.logo-b{
  background-image: url('../images/logo-b.svg');
}
a{
  text-decoration: none;
  color: #fff;
	transition: .5s;
}
header a:hover{
  text-decoration: none;
  color: #152DFF;
}
.logo:hover{
  background-color: #152DFF;
}
h1{
  font-size: 40px;
  line-height: 50px;
}
.h1-m{
  font-size: 36px;
}
h2{
  font-size: 24px;
  line-height: 23px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 18px;
  line-height: 23px;
}
.text-ac{
  font-size: 18px;
  font-family: PTRootUIWebBold;
}
.stat-ac{
  font-size: 36px;
  font-family: PTRootUIWebBold;
}

/*slick*/
.image-f{
  height: 90vh;
  width: 100%;
}
.slide-b{
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}
.zusam{
  background-image: url('../images/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.lynx{
  background-image: url('../images/lyn.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.g21{
  background-image: url('../images/g211.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-b img{
  height: 100%;
  width: 100%;
  text-align: center;
}
.slide-t{
  position: absolute;
  left: 46px;
  bottom: 10%;
}
.slick-list, .slick-track {
  height: 100%;
}
.slick-dots {
  bottom: 2%;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slide-t h2{
  margin-top: 2%;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}

/*shop*/
.shop{
  position: relative;
  margin: 0 auto;
  height: 60vh;;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-item{
  overflow: hidden;
  position: relative;
  height: 70%;
  width: 23%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.shop-item:hover{
  width: 1200px;
}
.shop-item:hover p{
  opacity: 1;
  transition: .5s;
}
.shop-item p{
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 24px;
	width: 100%;
}
.shop-item p{
	opacity: 0;
}
.shop-item:last-of-type p{
	opacity: 1;
}
.shop-item:last-of-type{
  background-color: #303030;
}

/*imgs*/
.cap{
  background-image: url('../images/cap.png');
}
.pins{
  background-image: url('../images/pin.png');
}
.books{
  background-image: url('../images/book.png');
}
.hood{
  background-image: url('../images/hood.png');
}
.arrow{
  background-image: url('../images/arrows.png');
}
.plata{
  background-image: url('../images/plat.jpeg');
}
.making{
  background-image: url('../images/making.jpeg');
}
.base{
  background-image: url('../images/base.png');
}
.ship{
  background-image: url('../images/plane.png');
}
.dash{
  background-image: url('../images/pcs.png');
	background-position: -150px -105px;
}
.red{
  background-image: url('../images/glitch.png');
}

/*missions slider*/
.missions {
	height: 60vh;
  overflow: hidden;
}
.slider-content {
  height: 650px;
  width: 10000px;
}
.slider-item {
  height: 650px;
  overflow: hidden;
  transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  transition: all 0.5s;
	background-color: black;
}
.slider-item:first-child {
  margin-left: -123px;
}
.image {
  float: left;
  position: relative;
  transition: all .5s;
  cursor: pointer;
}
.slid-img {
  height: 100%;
  width: 200%;
  top: 0px;
  position: absolute;
  left: -115px;
  background-size: 1200px 650px;
  transform: translate3d(0, 0, 0) skew(20deg, 0deg);
  transition: all 0.5s;
}
.slid-img:hover{
	opacity: .5;
}
.red:hover{
	opacity: 1;
}
.image-text {
  pointer-events: none;
  width: 500%;
  opacity: 0;
  /* bottom: 10%;
  left: -15%; */
	top: 10%;
  left: 5%;
  position: absolute;
  color: white;
  transition: all 0.3s;
}
.image-text-f{
  bottom: 10%;
  left: 6%;
}
.image:hover .image-text {
  opacity: 1;
}

/* missions mobile */
.missions-m{
  width: 100%;
  display: none;
}
.mm-sl{
  height: 100px;
  background-position: center;
  padding-left: 46px;
  padding-top: 20px;
}

/* redacted */
.redacted {
  overflow: hidden;
}
.redacted img{
    width: 70%;
    min-width: 450px;
    position: absolute;
    top: 50%;
    right: 0;
  }
.redacted  .image-f{
    position: relative;
    height: 86vh !important;
  }
.redacted .slide-t p{
  margin-top: 1em;
}
.redacted .slide-t{
  max-width: 620px;
}

/* news */
.nw-b a{
  color: black;
}
.nw-b{
  background-color: white;
  color: black;
}
.nw-i{
  background-position: center;
}
.nw-i, .nw-text{
  margin: 0 46px;
}
.nw-text p{
  margin-top: 6px;
	column-count: 2;
}
.nw-i{
  height: 450px;
  margin-top: 50px;
}
.nw-text{
  margin-top: 5%;
  display: grid;
  margin-bottom: 5%;
	grid-template-columns: 40% 40%;
	column-gap: 10%;
}
.nw-r{
	grid-column: 1;
}
.nw-r h2{
	line-height: 32px;
}
.nw-r{
	grid-column: 2;
}
.n-logos{
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
}
/* shop */
.sh-b{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 550px 550px 550px;
  column-gap: 15px;
  row-gap: 45px;
  padding: 46px;
  color: black;
}
.sh-g{
  height: 100%;
  width: 100%;
}
.sh-t{
  margin-top: 20px;
}
.cell-l{
  grid-column: span 2;
}
.sh-i{
	background-color: #222;
  background-position: center;
  background-size: cover;
	background-repeat: no-repeat;
  width: 100%;
  height: 90%;
	transition: ease-in .5s;
}
.si-post{
  background-size: auto 100%;
	background-repeat: no-repeat;
  background-position: top;
}
.sh-i:hover{
  background-size: calc(100% + 100%);
	transition: .5s;
}
.cell-l .sh-i:hover, .si-post:hover{
	background-size: calc(100% + 10%);
}

/* shop-item */
.overl{
	pointer-events: none;
	opacity: 0;
	background-image: url('../images/overl.png');
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
}
.sh-i-wrap{
	height: calc(100vh - 122px);
	padding: 46px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 10vh 10vh 10vh 40vh 10vh;
	grid-column-gap: 46px;
}
.sh-i-i{
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	grid-row: 1 / span 5;
}
.post-i{
	background-color: gray;
	background-size: contain;
	background-repeat: no-repeat;
}
.sh-i-b{
	align-self: flex-end;
	grid-row: 5;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.buy{
	user-select: none;
	width: 220px;
	font-family: PTRootUIWebRegular;
	background: #EFEFEF;
	border-radius: 5px;
	font-size: 18px;
	height: 45px;
	text-align: center;
	line-height: 45px;
}
.like{
	margin-left: 15px;
	width: 45px;
	height: 45px;
	background-position: center;
	background-size: 190%;
	background-color: #2E2E2E;
	border-radius: 100px;
}
.like-o{
	background-image: url('../images/like-icon.png');
}
.like-w{
	background-image: url('../images/like-icon-w.png');
}

/* form */
label{
	font-size: 18px;
	letter-spacing: 0.02em;
	opacity: 0.9;
}
.supp-wrap{
	padding: 0px 46px;
	display: grid;
	grid-template-columns: 555px auto;
	column-gap: 200px;
}
.supp-wrap h1:first-of-type{
	margin-top: 20px;
	margin-bottom: 50px;
}
.form1{
	grid-column: 1;
}
.phone{
	grid-column: 2;
}
.field{
	margin-bottom: 30px;
	flex-direction: column;
}
.selects{
	width: 100%;
	display: flex;
	flex-shrink: 1;
}
input, textarea{
	font-family: PTRootUIWebRegular;
	background: #EFEFEF;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 17px;
	height: 45px;
	width: calc(100% - 10px);
	border: none;
	padding: 0;
	padding-left: 10px;
}
input:focus{
	background: #fff;
	border-color: #152DFF;
}
input[name=subm]:focus{
	background: #EFEFEF;
	border-color: #152DFF;
}
textarea{
	height: 200px;
	resize: none;
	padding-top: 10px;
}
input[name=subm]{
	margin-top: 0;
	margin-bottom: 50px;
	padding: 0;
	width: 100%;
}
input[type=radio]{
	margin: 0;
	margin-left: 10px;
	height: auto;
	width: auto;
	padding: 15px;
	border: 1px solid #D3D3D3;
	background-color: #fff;
  -webkit-appearance: none;
}
input[type=radio]:nth-of-type(1){
	margin-right: 20px;
}
input[type=radio]:hover, input[name=subm]:hover {
  border-color: #152DFF;
	border-style: solid;
	cursor: pointer;
}
input[type=radio]:checked, .buy:hover, .like:hover {
  background-color: #152DFF;
	color: #fff;
}
input[type=radio]:focus {
  background-color: #152DFF;
}
.select{
	border-left: 1px solid #D3D3D3;
	margin-top: 17px;
	width: 25%;
	height: 45px;
	background: #EFEFEF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.select p{
	pointer-events: none;
}
.select:hover{
	cursor: pointer;
}
.select-ch{
	color: white;
	background: #152DFF;
}
.select:first-of-type{
	border-left: none;
}
.select:first-of-type{
	border-radius: 5px 0px 0px 5px;
}
.select:last-of-type{
	border-radius: 0px 5px 5px 0px;
}
.rad{
	margin-top: 17px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.error{
	border: 1px solid #ED0B0B;
}
.errort{
	color: #ED0B0B;
}

.disable{
	border-color: black;
	color: black;
	background: gray;
	pointer-events: none;
}
