body{
  width: 100vw;
}
body h2, body p{
  margin: 0;
  line-height: normal;
}
.image-f{
  background-position: center;
  background-size: cover;
}
.slide-t{
  position: absolute;
  z-index: 2;
}
.slide-t-o{
  z-index: 1;
  position: absolute;
  bottom: 0px;
  height: 50vh;
  width: 100%;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.m-wrap{
  z-index: 10;
  padding: 46px;
  position: relative;
}
h1{
  margin-bottom: 20px;
}
.descr-1 *{
  width: 50%;
}
.descr-l{
  margin: 100px 0;
  width: 100%;
  display: grid;
  grid-auto-columns: 50%;
}
.descr-l1 {
  margin-top: 150px;
}
.desc-i{
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  grid-column: 2;
}
.desc-t2{
  margin-top: 20px;
}
.desc-t2:first-of-type{
  margin-top: 0px;
}
.desc-t2 p:last-of-type{
  margin-top: 5px;
}
.descr-inf{
  color: #000;
  background: #fff;
  height: 60vh;
  display: grid;
  grid-auto-columns: 48%;
  column-gap: 4%;
  padding: 84px 46px;
}
.descr-inf a {
  transition: 0s;
  color: #000;
}
.descr-inf a:hover{
  color: #fff;
}
.descr-inf a:hover p{
  background-color: #152DFF;
}
.descr-inf a p{
  background-color: #EFEFEF;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
}
.descr-inf-i{
  width: 100%;
  height: 100%;
  background-position: center;
}
.descr-inf-t{
  grid-column: 2
}
.descr-inf-t p{
  margin-bottom: 20px;
}
.head-c *{
  width: 100%;
  text-align: center;
}
.dash-slid{
  width: calc(100% + 92px);
  margin-left: -46px;
  height: 20vw;
}
.dash-slidesh1 img{
  background-size: contain;
  margin-left: -10px;
}
.dash-slidesh{
  margin-top: 5vw;
}
.dash-slidesh1{
  margin-bottom: 100px;
}
@media (max-width: 850px){
  p {
    font-size:18px;
  }
  .descr-l{
    height: auto;
    grid-auto-columns: 100%;
    grid-row-gap: 100px;
  }
  .desc-i{
    grid-row: 2;
    grid-column: 1;
  }
  .descr-1 * {
    width: 100%;
  }
  .descr-inf{
    display: block;
    height: auto;
  }
  .descr-inf-i{
    display: none;
  }
}
@media (max-width: 350px){
  .m-wrap {
    padding: 13px;
  }
  .descr-inf{
    padding: 84px 13px;
  }
  .desc-i{
    height: 25vh;
  }
}
