html{
  background: white;
}
@media all and (max-width: 600px){
  .no-fix .logo{
    background-image: url('../images/logo.svg');
  }
}
@media all and (min-width: 600px){
  .no-fix .logo{
    background-image: url('../images/logo-b.svg');
  }
}
