@media all and (max-width: 600px){
  .options{
    flex-direction: column;
    text-align: right;
  }
  .options h2:first-of-type{
    margin-bottom: 10px;
  }
}
@media all and (max-width: 850px){
  .nw-text{
    flex-direction: column;
  }
  .nwt-l,.nwt-r{
    text-align: left;
    width: 100%;
  }
  .nwt-r{
    margin-top: 3%;
  }
}
@media all and (max-width: 700px){
  .menu-l h1{
    font-size: 18px;
    line-height: 23px;
  }
  .menu-l h2,p{
    font-size: 12px;
    line-height: 15px;
  }
}
@media all and (max-width: 900px){
  .red{
    background-image: url('../images/glitch-g.gif');
  }
  .missions{
    display: none;
  }
  .missions-m{
    display: block;
  }
  .shop-item{
    width: 400px;
    flex-shrink: 0;
    margin-left: 20px;
  }
  .shop-item:hover{
    width: 400px;
  }
  .shop-item:first-of-type{
    margin-left: 46px;
  }
  .shop{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 50px;
  }
  .shop::-webkit-scrollbar {
    outline: none;
  }
  .shop::-webkit-scrollbar-track {
    background-color: #222;
  }
  .shop::-webkit-scrollbar-thumb {
    background-color: #555;
    outline: none;
  }
  .menu-l{
    flex-direction: column;
  }
  .menu-l h2{
    text-align: left;
  }
}
@media all and (max-width: 350px){
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 18px;
    line-height: auto;
  }
  footer, .menu-l, .h-wrap {
    padding: 25px 13px;
  }
  .slide-t {
    left: 13px;
  }
  .mm-sl {
    padding-left: 13px;
  }
  .shop {
    height: 480px;
  }
  .shop-item {
    height: 300px;
  }
  .shop-item{
    width: 200px;
  }
  .shop-item:hover{
    width: 200px;
  }
  .shop-item:last-of-type{
    background-image: url('../images/gl-gi.gif');
  }
}
